NewsListApps/.idea/encodings.xml
NewsListApps/.idea/copyright/profiles_settings.xml
NewsListApps/.idea/compiler.xml
NewsListApps/gradlew.bat
NewsListApps/gradlew
NewsListApps/gradle/wrapper/gradle-wrapper.properties
NewsListApps/gradle/wrapper/gradle-wrapper.jar
NewsListApps/.idea/vcs.xml
NewsListApps/.idea/runConfigurations.xml
NewsListApps/.idea/modules.xml
NewsListApps/.idea/misc.xml
NewsListApps/.idea/gradle.xml
